.Header {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  border-bottom: 1px solid #eee;
}
.header_title {
  width: 50%;
  font-size: 18px;
  font-weight: 600;
  /* color: rgb(71, 71, 255); */
  letter-spacing: 5px;
}
.header_left {
  margin-left: auto;
  margin-right: 12px;
}
.arrow {
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0;
  background-color: transparent;
}
.header_left .arrow {
  transform: rotate(-135deg);
}
.header_right .arrow {
  transform: rotate(45deg);
}
.arrow:hover {
  border-color: rgb(71, 71, 255);
}
.add_header {
  width: 100%;
  display: flex;
  align-items: center;
}
.add_header .arrow {
  transform: rotate(-135deg);
}
.add_header .header_title {
  margin: 0 auto;
  text-align: center;
}
