.Header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 15px 20px;
  /* background-color: pink; */
  border-bottom: 1px solid #eee;
}
.header_title {
  width: 50%;
}
.header_left {
  margin-left: auto;
  margin-right: 12px;
}
