.PaymentItem {
  /* padding: 10px 0; */
  display: flex;
  flex-wrap: wrap;
}
.PaymentItem > * {
  padding: 0 20px;
}
.date_section {
  width: 100%;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.cost_section {
  width: 80%;
  /* background-color: pink; */
  padding-top: 6px;
  padding-bottom: 6px;
}
.cost_section .cost {
  font-size: 21px;
  font-weight: 500;
}
.cost_section .content {
  color: rgba(0, 0, 0, 0.6);
}
.button_section {
  display: flex;
  width: 20%;
  /* background-color: orange; */
  justify-content: flex-end;
  align-items: center;
}
.button_section button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.button_section img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
