.PaymentItem {
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.PaymentItem > * {
  padding: 0 20px;
}
.PaymentItem .section_wrapper {
  display: flex;
}
.PaymentItem .date_section {
  width: 100%;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.PaymentItem .img_section {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.PaymentItem .img_section img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.PaymentItem .cost_section {
  width: calc(100% - 20% - 50px);
  /* background-color: pink; */
  padding-top: 8px;
  padding-bottom: 8px;
}
.PaymentItem .cost_section .cost {
  font-size: 21px;
  font-weight: 500;
}
.PaymentItem .cost_section .content {
  color: rgba(0, 0, 0, 0.6);
}
.PaymentItem .button_section {
  display: flex;
  width: 20%;
  /* background-color: orange; */
  justify-content: flex-end;
  align-items: center;
}
.PaymentItem .button_section button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.PaymentItem .button_section img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
